{% extends 'mainPage/base.html' %}

{% block content %}
{% include 'mainPage/navbar.html' %}
{% load i18n %}

<script>
  const elements = document.querySelectorAll('.ode');
let sum = 0;

for (let i = 0; i < elements.length; i++) {
const value = parseFloat(elements.textContent);
if (!isNaN(value)) {
sum += value;
}
}

document.getElementById('result').textContent = sum;
</script>

<form action="" method="post">
  {%csrf_token%}
  <table class="table table-bordered table-secondary ">
  <thead>
    <tr>
      <th scope="col"><button class="btn btn-success" type="submit">Ara</button></th>
      <th scope="col">{{form.kantarNo}}</th>
      <th scope="col">Kantar-1</th>
      <th scope="col">Kantar-2</th>
      <th scope="col">Kantar-3</th>
      <th scope="col">Kantar-4</th>
      <th scope="col">Kantar-5</th>
      <th scope="col">Kantar-6</th>
      <th scope="col">Kantar Notu</th>
      <th scope="col">{{form.odeme.label}}{{form.odeme}}</th>
      <th scope="col">Nakliyatı Karşılayan</th>
      <th scope="col">{{form.tarih}}</th>
      <th scope="col">{{form.tedarikci.label}}{{form.tedarikci}}</th>
      <th scope="col">Alım ID</th>
      <th scope="col">{{form.malTipi.label}}{{form.malTipi}}</th>
      <th scope="col">Miktar</th>
      <th scope="col">Fire</th>
      <th scope="col">Birim Fiyat</th>
      <th scope="col">Hesaplanan Ödeme</th>
      <th scope="col">Gerçekleşen Ödeme</th>


    </tr>
  </thead>
  <tbody>
  {% for record in query %}
    <tr>
      <td></td>
      <td>{{record.kantar.id}}</td>
      <td>{{record.kantar.kantar1}}</td>
      <td>{{record.kantar.kantar2}}</td>
      <td>{{record.kantar.kantar3}}</td>
      <td>{{record.kantar.kantar4}}</td>
      <td>{{record.kantar.kantar5}}</td>
      <td>{{record.kantar.kantar6}}</td>
      <td>{{record.kantar.note}}</td>
      <td>{{record.kantar.odeme}}</td>
      <td>{{record.kantar.nakliyat}}</td>


      <td>{{record.kantar.tarih}}</td>
      <td>{{record.kantar.tedarikci}}</td>
      <td>{{record.id}}</td>
      <td>{{record.mal}}</td>
      <td>{{record.miktar}}</td>
      <td>{{record.hurda}}</td>
      <td>{{record.birimFiyat}}</td>
      <td>{{record.ode}}</td>
      <td>{{record.odenecek}}</td>

    </tr>
    {% endfor %}
      <tr>
      <td></td>
      <td><b>Toplam</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>


      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>{{miktar}}</b></td>
      <td><b>{{hurda}}</b></td>
      <td></td>
      <td><b>{{odeme}}</b></td>
      <td> <b>{{odemeGercek}}</b></td>

    </tr>


  </tbody>
</table>


</form>


<!--miktar&ndash;&gt;{{miktar}}-->
<!--hurda&ndash;&gt;{{hurda}}-->
<!--odeme&ndash;&gt;{{odeme}}-->


{% endblock %}
