{% extends 'mainPage/base.html' %}

{% block content %}
{% include 'mainPage/navbar.html' %}


<form action="" method="post">
  {%csrf_token%}
  <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col"><button class="btn btn-success" type="submit">Ara</button></th>
      <th scope="col">{{form.kantarNo}}</th>
      <th scope="col">Kantar-1</th>
      <th scope="col">Kantar-2</th>
      <th scope="col">Kantar-3</th>
      <th scope="col">Kantar-4</th>
      <th scope="col">Kantar-5</th>
      <th scope="col">Kantar-6</th>
      <th scope="col">Kantar Notu</th>
      <th scope="col">Ödeme Yapıldı</th>
      <th scope="col">Nakliyatı Karşılayan</th>
      <th scope="col">{{form.tarih}}</th>
      <th scope="col">{{form.tedarikci.label}}{{form.tedarikci}}</th>
      <th scope="col">{{form.malTipi.label}}{{form.malTipi}}</th>
      <th scope="col">Miktar</th>
      <th scope="col">Hurda</th>
      <th scope="col">Birim Fiyat</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>


</form>


{% for obj in query%}
{{obj.kantar.kantar1}}
{% endfor %}
{% endblock %}
