{% extends 'mainPage/base.html' %}

{% block content %}
{% include 'mainPage/navbar.html' %}
{% load i18n %}

<form action="" method="post">
  {%csrf_token%}
  <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col"><button class="btn btn-success" type="submit">Ara</button></th>
      <th scope="col">{{form.kantarNo}}</th>
      <th scope="col">Kantar-1</th>
      <th scope="col">Kantar-2</th>
      <th scope="col">Kantar-3</th>
      <th scope="col">Kantar-4</th>
      <th scope="col">Kantar-5</th>
      <th scope="col">Kantar-6</th>
      <th scope="col">Kantar Notu</th>
      <th scope="col">Ödeme Yapıldı</th>
      <th scope="col">Nakliyatı Karşılayan</th>
      <th scope="col">{{form.tarih}}</th>
      <th scope="col">{{form.tedarikci.label}}{{form.tedarikci}}</th>
      <th scope="col">Alım ID</th>
      <th scope="col">{{form.malTipi.label}}{{form.malTipi}}</th>
      <th scope="col">Miktar</th>
      <th scope="col">Hurda</th>
      <th scope="col">Birim Fiyat</th>
      <th scope="col">Ödenecek Tutar</th>


    </tr>
  </thead>
  <tbody>
  {% for record in query %}
    <tr>
      <td></td>
      <td>{{record.kantar.id}}</td>
      <td>{{record.kantar.kantar1}}</td>
      <td>{{record.kantar.kantar2}}</td>
      <td>{{record.kantar.kantar3}}</td>
      <td>{{record.kantar.kantar4}}</td>
      <td>{{record.kantar.kantar5}}</td>
      <td>{{record.kantar.kantar6}}</td>
      <td>{{record.kantar.note}}</td>
      <td>{{record.kantar.odeme}}</td>
      <td>{{record.kantar.nakliyat}}</td>


      <td>{{record.kantar.tarih}}</td>
      <td>{{record.kantar.tedarikci}}</td>
      <td>{{record.id}}</td>
      <td>{{record.mal}}</td>
      <td>{{record.miktar}}</td>
      <td>{{record.hurda}}</td>
      <td>{{record.birimFiyat}}</td>
      <td>{{record.ode}}</td>

    </tr>
    {% endfor %}

  </tbody>
</table>


</form>



{% endblock %}
